<p><%= image_tag listing.photo.url(:medium) %></p>
<p><%= link_to listing_path(listing) do %>
    <%= listing.description %>
  <% end %>
</p>
<p>$<%= listing.price %></p>
<p><%= listing.location %></p>
<p>Listing is
  <% if listing.available %>
    <span> available </span>
  <% else %>
    <span> unavailable </span>
  <% end %>
</p>
<%= link_to "edit listing", edit_listing_path(listing) %>
